<div class="ui fluid search selection dropdown">
    <input id="country-val" type="hidden" name="country" value="">
    <i class="dropdown icon"></i>
    <div class="default text">SELECT COUNTRY</div>
    <div class="menu">

    <% countryList.forEach( (element) => { %>
        <div class="item" data-value="<%=element.slug%>"><i class="<%=element.iso%> flag"></i><%=element.name%></div>
    <% }) %>
 
    </div>
</div>