<div id="navbar-cont">
    <div id="navbar-content">
        <a href="/">
            <div id="logo">mitigate.</div>
        </a>
        <div id="pages-cont">
            <a href="">MAKE REPORT</a>
            <a href="">VIEW REPORTS</a>
            <a href="">COMPARE REPORTS</a>
        </div>
    </div>
</div>