<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:,">
<title><%=title%></title>
</head>
    <!--jquery-->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/assets/jquery-ui-slider-pips.css">
    <script type="text/javascript" src="/javascripts/assets/jquery-ui-slider-pips.js"></script>

    <!--semantic-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

    <!-- chart.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/assets/chartjs-plugin-crosshair.js"></script>
    
    <!-- moment js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <!--custom-->
    <link rel='stylesheet' href='/fonts/fonts.css' />
    <link rel="stylesheet" href="/stylesheets/partials/country-dropdown.css" />
    <link rel='stylesheet' href='/stylesheets/curve.css' />
    <link rel='stylesheet' href="/stylesheets/partials/navbar.css"/>
<body>

    <% include partials/navbar %>
    <div id="page-title">Which countries are flattening the curve?</div>
    <div id="search-cont">
        <div>
            <div id="dropdown-cont">
                <% include partials/country-search %>
            </div>
            <div>
                <button class="ui button">ADD COUNTRY</button>
            </div>
        </div>
    </div>

    <!--chart-->
    <div id="curve-chart-cont">
        <canvas id="curveChart"></canvas>
    </div>

    
    
</body>
<script src="/javascripts/curve.js"></script>
</html>