<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <!--jquery-->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/assets/jquery-ui-slider-pips.css">
    <script type="text/javascript" src="/javascripts/assets/jquery-ui-slider-pips.js"></script>

    <!--semantic-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

    <!-- chart.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    
    <!-- moment js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <!--custom-->
    <link rel='stylesheet' href='/fonts/fonts.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/partials/slider.css' />

  </head>

  <script>
  
    fetch('https://extreme-ip-lookup.com/json/')
        .then( res => res.json())
        .then(response => {
            console.log("Country: ", response.country);
        })
        .catch((data, status) => {
            console.log('Request failed');
        })
  </script>
  <body>
    <div id="top-bar">
        <div id="dropdown-cont">
            <% include partials/country-dropdown %>
        </div>
        <div id="curve-filter-cont">
            <div class="curve-filter">CASES</div>
            <div class="curve-filter">DEATHS</div>
            <div class="curve-filter">RECOVERED</div>
        </div>
    </div>
    
    <div id="chart-cont">
        <canvas id="myChart"></canvas>
        <div id="slider-cont">
            <div id="flat-slider"></div>
        </div>
    </div>

    

    <div id="bar-chart-cont">
        <canvas id="barChart"></canvas>
        
        <div id="bar-filter-cont">
            <div class="bar-filter">CASES</div>
            <div class="bar-filter">DEATHS</div>
            <div class="bar-filter">RECOVERED</div>
        </div>
    </div>
    
    <br><br><br><br><br>
    <div class="stats-title">canada</div>
    <div class="stats-cont">
        <div class="ui statistic">
            <div class="value">
                5,550,000
            </div>
            <div class="label">TOTAL DEATHS</div>
        </div>

        <div class="ui statistic">
            <div class="value">
                5,550,000
            </div>
            <div class="label">TOTAL CASES</div>
        </div>

        <div class="ui statistic">
            <div class="value">
                5,550,000
            </div>
            <div class="label">TOTAL RECOVERED</div>
        </div>
    </div>

    <br><br><br>
    <div class="stats-title">worldwide</div>
    <div class="stats-cont">
        <div class="ui statistic">
            <div class="value">
                5,550,000
            </div>
            <div class="label">TOTAL DEATHS</div>
        </div>

        <div class="ui statistic">
            <div class="value">
                5,550,000
            </div>
            <div class="label">TOTAL CASES</div>
        </div>

        <div class="ui statistic">
            <div class="value">
                5,550,000
            </div>
            <div class="label">TOTAL RECOVERED</div>
        </div>
    </div>

    <button id="traj-btn">Which countries are flattening the curve?</button>

  </body>

  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/partials/slider.js"></script>
</html>