<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <title><%= title %></title>
    <!--jquery-->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/assets/jquery-ui-slider-pips.css">
    <script type="text/javascript" src="/javascripts/assets/jquery-ui-slider-pips.js"></script>
    <script type="text/javascript" src="/javascripts/assets/jquery.cookie-1.4.1.min.js"></script>

    <!--semantic-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

    <!-- chart.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    
    <!-- moment js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <!--custom-->
    <link rel='stylesheet' href='/fonts/fonts.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href="/stylesheets/partials/navbar.css" />
    <link rel='stylesheet' href='/stylesheets/partials/slider.css' />
    <link rel="stylesheet" href='/stylesheets/partials/country-dropdown.css' />

  </head>
  <body>
    <% include partials/navbar %>

    <div id="page-cont">
    <div id="top-bar">
        <div id="curve-filter-cont">
            <div class="curve-filter">CASES</div>
            <div class="curve-filter">DEATHS</div>
            <div class="curve-filter">RECOVERED</div>
        </div>

        <div id="dropdown-cont">
            <% include partials/country-dropdown %>
        </div>
    </div>
    
    <div id="chart-cont">
        <canvas id="myChart"></canvas>

        <div id="slider-cont">
            <div id="flat-slider"></div>
        </div>
    </div>

    <input type="text" id="start-point" hidden>
    <input type="text" id="end-point" hidden>

    <div id="report-btn-cont">
        <button class="ui button" id="report-btn">CREATE TIMELINE REPORT</button>
    </div>
    </div>
    
  </body>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/report.js"></script>
</html>