<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:,">
<title><%=title%></title>

    <!--jquery-->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!--semantic-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

    <!-- chart.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <!--custom-->
    <link rel='stylesheet' href='/fonts/fonts.css' />
    <link rel='stylesheet' href="/stylesheets/partials/navbar.css"/>
    <link rel='stylesheet' href='/stylesheets/report.css' />

</head>
<body>
    <% include partials/navbar %>
    <div id="report-id">
        <div id="date">APRIL 5, 2020 - APRIL 30, 2020</div>
        <div id="country">in Canada</div>
    </div>

    <div id="data-cont">

        <div id="pie-data-cont">
            <div id="total"><div>10,000 total cases</div></div>
            <div id="pie-chart-cont">
                <canvas id="myPieChart"></canvas>
            </div>
            <div id="breakdown-cont">

                <div>
                    <div id="recovered">340 Recovered &nbsp 50% of Cases</div>
                    <div id="active-cases">340 Active Cases &nbsp 50% of Cases</div>
                    <div id="dead">340 Deaths &nbsp 50% of Cases</div>
                </div>
                
            </div>
        </div>


    </div>
</body>
<script src="/javascripts/report.js"></script>
</html>