html, body{
    height: 100%;
}

body {
    background: #222830;
    padding: 2rem 2.5rem;
}

#curve-filter-cont, #bar-filter-cont{
    display: flex;
}

#bar-filter-cont{
    justify-content: center;
}

.curve-filter, .bar-filter{
    text-align: center;
    user-select: none;
    color: #ffffff;
    font-family: RedHatTextMedium;
    font-size: 20px;
    letter-spacing: 0.15rem;
    margin: 0 0.2rem;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 2rem;
}

.select-cases{
    background-color: rgba(255, 99, 132, 1);
    color:  #222830;
}

.select-deaths{
    background-color: rgba(114, 114, 114, 1);
    color:  #222830;
}

.select-recovered{
    background-color: rgba(54, 162, 235, 1);
    color:  #222830;
}

#top-bar{
    width: 100%;
    display: flex;
}

#dropdown-cont{
    margin-left: auto;
    order: 2;
    width: 250px;
}

#dropdown-cont > div{
    border-color: #ffffff;
}

#dropdown-cont > div, #dropdown-cont > div .item, #dropdown-cont > div .default.text, #dropdown-cont > div input{
    font-family: RedHatTextMedium;
    text-transform: uppercase;
    background: #222830;
    color: #ffffff !important;
    font-size: 15px;
    letter-spacing: 0.10rem;
}

.ui.dropdown > .dropdown.icon::before {
   font-family: 'Icons';
   content: "\f078" !important;
}

.ui.selection.visible.dropdown > .text:not(.default){
    color: #ffffff;
}

#chart-cont{
    margin: 4rem 2rem;
}

.stats-title{
    color: white;
    font-family: RedHatTextMedium;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.8rem;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 1rem 0;
}

.stats-cont{
    display: flex !important;
    /* border: 1px solid blue !important; */
    padding: 2rem 0;
}

.ui.statistic{
    /* border: 1px solid red; */
    flex: 1 !important;
}

.ui.statistic > .value{
    font-family: RedHatTextMedium;
    color: white !important;
}

.ui.statistic > .label{
    font-family: RedHatTextRegular;
    color: white !important;
    letter-spacing: 0.1rem !important;
}

#bar-chart-cont{
    margin: 4rem 2rem 0 2rem;
}

button{
    font-family: RedHatTextMedium;
    font-size: 30px;
    letter-spacing: 0.5rem;
    text-align: center;
    width: 75%;
    margin: 3rem 12.5%;
    padding: 1.5rem 0;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

/* #trajectory-title{
    font-size: 25px;
    padding: 2rem 0;
}

#trajectory-chart-cont{
    margin: 4rem 3rem;
} */




