html, body{
    height: 100%;
}

body {
    background: #222830;
    border: 1px solid #222830;
}

#page-cont{
    padding: 0 2.5rem;
    /* border: 1px solid red; */
    margin-bottom: 0 !important;
}

#curve-filter-cont, #bar-filter-cont{
    display: flex;
}

#bar-filter-cont{
    justify-content: center;
}

.curve-filter, .bar-filter{
    text-align: center;
    user-select: none;
    color: #ffffff;
    font-family: RedHatTextMedium;
    font-size: 20px;
    letter-spacing: 0.15rem;
    margin: 0 0.2rem;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 2rem;
}

.select-cases{
    background-color: rgba(255, 99, 132, 1);
    color:  #222830;
}

.select-deaths{
    background-color: rgba(114, 114, 114, 1);
    color:  #222830;
}

.select-recovered{
    background-color: rgba(54, 162, 235, 1);
    color:  #222830;
}

#top-bar{
    width: 100%;
    display: flex;
}

#dropdown-cont{
    margin-left: auto;
    order: 2;
    /* width: 550px; */
}

#dropdown-cont > div{
    border-color: #ffffff;
}

#dropdown-cont > div, #dropdown-cont > div .item, #dropdown-cont > div .default.text, #dropdown-cont > div input{
    font-family: RedHatTextMedium;
    text-transform: uppercase;
    background: #222830;
    color: #ffffff !important;
    font-size: 15px;
    letter-spacing: 0.10rem;
}

.ui.dropdown > .dropdown.icon::before {
   font-family: 'Icons';
   content: "\f078" !important;
}

.ui.selection.visible.dropdown > .text:not(.default){
    color: #ffffff;
}

#chart-cont{
    margin: 1rem 0;
}

#bar-chart-cont{
    margin: 4rem 2rem 0 2rem;
}

#slider-cont{
    margin: 3rem 0;
}

#report-btn-cont{
    width: 100%;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}

#report-btn{
    margin: 0 auto;
    text-align: center;
    font-family: RedHatTextMedium;
    letter-spacing: 0.4rem;
    border-radius: 2rem !important; 
    color: #222830;
    font-size: 20px !important;
}
