html, body{
    height: 100%;
}

body {
    background: #222830;
}

#report-id{
    background: #c4c4c4;
    color: #222830;
    width: 100%;
    padding: 2rem 0;
}

#report-id #date{
    font-family: RedHatTextRegular;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

#report-id #country{
    text-align: center;
    font-family: RedHatTextRegular;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

#pie-data-cont{
    margin: 0 10rem;
}

#pie-data-cont #total{
    grid-area: header;
    font-size: 3rem;
    margin: 4rem 0;
    /* border: 1px solid red; */
}

#pie-data-cont #total div{
    /* border: 1px solid red; */
    width: 40% !important;
    text-align: center;
}

#pie-data-cont #pie-chart-cont{
    grid-area: chart;
    /* border: 1px solid green; */
}

#pie-data-cont #pie-chart-cont canvas{
    display: table !important;
}

#pie-data-cont #breakdown-cont{
    grid-area: breakdown;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center; 
    /* padding-left: 4rem; */
}

#pie-data-cont #breakdown-cont > div > div{
    font-size: 2.5rem;
    line-height: 6rem;
    white-space: nowrap;
}

#pie-data-cont{
    /* border: 1px solid blue; */
    font-family: RedHatTextRegular;
    color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "chart breakdown";
}

#breakdown-cont #recovered span{
    color: rgba(54, 162, 235, 1)
}

#breakdown-cont #active-cases span{
    color: rgba(255, 99, 132, 1);
}

#breakdown-cont #dead span{
    color: rgba(114, 114, 114, 1);
}


#newsfeed-cont{
    margin: 5rem 0 4rem 0;
    width: 100%;
}

#newsfeed-cont #title{
    font-family: RedHatTextRegular;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: white;
}

#newsfeed-cont #subtitle{
    font-family: RedHatTextRegular;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: white;
}

#newsfeed-cont #content{
    margin: 0 20%;
    display: table;
    font-family: RedHatTextRegular;
    /* border: 1px solid red; */
}

#newsfeed-cont #content a{
    cursor: pointer;
}

#newsfeed-cont #content ul{
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: RedHatTextRegular;
    color: white;
}

#newsfeed-cont #content li{
    margin: 1rem 0;
}

#courtesy{
    color: rgba(255, 255, 255, 0.2);
    text-align: right;
}
