html, body{
    height: 100%;
}

body {
    background: #222830;
}

#report-id{
    background: #c4c4c4;
    color: #222830;
    width: 100%;
    padding: 2rem 0;
}

#report-id #date{
    font-family: RedHatTextRegular;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

#report-id #country{
    text-align: center;
    font-family: RedHatTextRegular;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

#pie-data-cont{
    display: flex;
    margin: 4rem 2rem 0 2rem;
}

#pie-chart-cont{
    flex-grow: 1;
    /* border: 1px solid red; */
}

#pie-chart-cont #total-cases{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
    /* border: 1px solid red; */
}

#breakdown-cont #recovered span{
    color: rgba(54, 162, 235, 1)
}

#breakdown-cont #active-cases span{
    color: rgba(255, 99, 132, 1);
}

#breakdown-cont #dead span{
    color: rgba(114, 114, 114, 1);
}

canvas{
    margin: 0 auto;
    /* border: 1px solid blue; */
}

#breakdown-cont{
    flex-grow: 1;
    color: white;
    font-size: 2rem;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#breakdown-cont > div > div{
    margin: 2rem 0;
}

#newsfeed-cont{
    margin: 5rem 0 4rem 0;
    width: 100%;
}

#newsfeed-cont #title{
    font-family: RedHatTextRegular;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: white;
}

#newsfeed-cont #subtitle{
    font-family: RedHatTextRegular;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: white;
}

#newsfeed-cont #content{
    margin: 0 20%;
    display: table;
    font-family: RedHatTextRegular;
    /* border: 1px solid red; */
}

#newsfeed-cont #content a{
    cursor: pointer;
}

#newsfeed-cont #content ul{
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: RedHatTextRegular;
    color: white;
}

#newsfeed-cont #content li{
    margin: 1rem 0;
}

#courtesy{
    color: rgba(255, 255, 255, 0.2);
    text-align: right;
}
